html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.gallery {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.photo-card img {
  margin: 20px;
  max-width: 350px;
  max-height: 250px;
}
.stats {
  display: flex;
  max-width: 350px;
  justify-content: space-between;
}
.stats-item {
  display: flex;

  margin-right: 15px;
  margin-left: 15px;
  flex-direction: column;
  align-items: center;
}

.mark {
  text-align: center;
  color: #626464;
}
form {
  text-align: center;
}
h1 {
  text-align: center;
}
input {
  margin-top: 20px;
  font-size: 26px;
  border-radius: 5px;
}

.custom-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-load-more {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(109, 69, 99);
  background: linear-gradient(0deg, rgb(121, 150, 230) 0%, rgb(49, 37, 184) 100%);
}
.btn-load-more:hover {
  color: #0b8080;
  background: transparent;
  box-shadow: none;
}
.btn-load-more:before,
.btn-load-more:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #054242;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px rgba(235, 41, 67, 0.2),
    4px 4px 5px 0px rgba(211, 19, 19, 0.133);
  transition: 400ms ease all;
}
.btn-load-more:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-load-more:hover:before,
.btn-load-more:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
